@media only screen and (min-width: 40rem) {
  header,
  main,
  nav,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  /************************** NAVIGATION **************************/
  #hamburger {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    display: flex;
    margin-left: 10px;
  }

  nav a {
    border: none;
    padding: 0.5rem 1.5rem;
  
  }

/************************** DIALOG DESIGN **************************/
dialog {
  width: 500px;
  font-size: 1.3rem;
  span{ font-size: 1.1rem;}
}




} /* end media query */
