/* -------------- COLOR SCHEME --------------- */
:root {
  --color-primary: #ff26b0;
  --color-secondary: #ffce26;
  /* Add a grey scale Colors */
  --color-mygrey-0: lab(100% 0 0);
  --color-mygrey-5: lab(95% 0 0);
  --color-mygrey-10: lab(90% 0 0);
  --color-mygrey-20: lab(80% 0 0);
  --color-mygrey-30: lab(70% 0 0);
  --color-mygrey-40: lab(60% 0 0);
  --color-mygrey-50: lab(50% 0 0);
  --color-mygrey-60: lab(40% 0 0);
  --color-mygrey-70: lab(30% 0 0);
  --color-mygrey-80: lab(20% 0 0);
  --color-mygrey-90: lab(10% 0 0);
  --color-mygrey-100: lab(0% 0 0);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-mygrey-90);
}
/************************** HEADER **************************/
header {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 25px auto 44px;
  column-gap: 8px;
  align-items: end;
  border-bottom: 1px solid var(--color-mygrey-60);
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-secondary);
}

/************************** NAVIGATION **************************/
nav {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-mygrey-20);
  text-decoration: none;
  padding: 0.6rem 10px;
  border-bottom: 1px solid var(--color-mygrey-70);
}

nav a:hover {
  text-decoration: underline;
}

nav li.active {
  background-color: var(--color-mygrey-70);
}

nav.show {
  display: block;
}

/************************** HAMBURGER NAVIGATION **************************/
.hamburger {
  background: none;
  border: none;
  color: var(--color-mygrey-10);
  cursor: pointer;
  font-family: Verdana;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/************************** MAIN LAYOUT **************************/

h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 200;
}


/************************** SOCIAL MEDIA **************************/
.social {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 1rem;
}

.social a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-mygrey-80);
  border: 1px solid var(--color-mygrey-70);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-mygrey-60);
}

/************************** FOOTER **************************/
footer {
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-mygrey-30);
}
